* {
  box-sizing: border-box;
}


body {
    background-image: radial-gradient(circle, #dff0d8, #dbf6ee, #e5f9fd, #f5fbff, #ffffff);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navsection, .d-flex {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*animate css*/
.img-fluid {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration:infinity; /* don't forget to set a duration! */
  animation-iteration-count: 3;
}
/*about section*/

.about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
    padding-top: 30px;
    height: 650px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, transparent 20%, #ccc 25%, transparent 0), linear-gradient(-45deg, transparent 20%, #ccc 25%, transparent 0), linear-gradient(-45deg, transparent 75%, #ccc 80%, transparent 0), radial-gradient(#efe 2px, transparent 0);
    background-size: 18px 18px, 18px 18px;
}

/*image animation*/
.box {
     align-self: flex-end;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     transform-origin: bottom;
 }
 .bounce-1 {
     animation-name: bounce-1;
     animation-timing-function: linear;
 }
 @keyframes bounce-1 {
     0%   { transform: translateY(0); }
     50%  { transform: translateY(-100px); }
     100% { transform: translateY(0); }
 }

.navt {
    color: black;
}

.search {
    color: black;
}


/*media query*/

@media only screen and (max-width: 820px) {
    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
}

ul {
    list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
    padding: 20px;
    margin: 15px;
}

.list {
    padding: 10px 5px;
    ;
    font-size: 20px;
    font-weight: 450;
}

.about-text {
    list-style-type: none;
    font-weight: bold;
}
/*.btn-1 {
  background-color: #219988;

  color: white;
  border-radius: 5px;
  padding: 3% 6%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2%;
  font-size:500;

}*/
/*btn see more*/
.btn-1 a {
  border: none;
  cursor: pointer;
  outline:none;
}
.ms a:hover {
    color: #00FFFF;
    text-decoration: none;
  }
a:link {
  text-decoration: none;
}

.btn-1 a:visited {
  text-decoration: none;
}
.btn-1 a:hover {
  color: #00FFFF;
  text-decoration: none;
}
.btn-1 {
  background-color: #219988;
}
.btn-1:active:focus {
  color: white !important;
  background-color: #219988 !important;
  border-color: #494F57;
}
.btn-1 a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;

}
/*btn upbutton*/
.upbutton a {
  border: none;
  cursor: pointer;
  outline:none;
}
a:link {
  text-decoration: none;
}

.upbutton a:visited {
  text-decoration: none;
}
.upbutton a:hover {
  color: #00FFFF;
  text-decoration: none;
}
.upbutton {
  background-color: #219988;
}
.upbutton:active:focus {
  color: white !important;
  background-color: #219988 !important;
  border-color: #494F57;
}
.upbutton a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/*productive items*/

.productive-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.intro a {
    display: inline-block;
    padding: 3% 6%;
    background-color: #219988;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2%;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 820px) {
    .productive-items>div.prodcon {
        background: #fff;
        height: auto;
        margin: 0;
    }
}

.ptitle {
    text-align: center;
}

.productive-items>div.prodcon {
    background: #fff;
    height: 300px;
    margin: 5%;
    border-radius: 5px;
    padding: 3% 7%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    word-wrap: break-word;
}

.productive-items>div div.prodcon {
    color: var(--faint-font);
}

@media only screen and (max-width: 820px) {
    .productive-items>div img {
        display: inline-block;
        width: 20%;
    }
}


/*mobile query small screen*/

@media only screen and (max-width: 768px) {
    .productive-items>div.prodcon {
        background: #fff;
        height: auto;
        margin: 0;
    }
    .productive-items {
        display: grid;
        grid-template-columns: 90%;
    }
}

.productive-items>div.prodcon {
    background: #fff;
    height: 313px;
    margin: 5%;
    border-radius: 5px;
    padding: 3% 7%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.productive-items>div div.prodcon {
    color: var(--faint-font);
}

@media only screen and (max-width: 768px) {
    .prodcon {
        width: 100%;
    }
    .tex {
        font-size: 20px;
    }
    .text1 {
        font-size: 18px;
    }
    .productive-items>div.prodcon {
        padding: 1.2rem 1rem;
    }
    .ptitle {
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .prodcon {
        width: 100%;
    }
    .tex {
        font-size: 20px;
    }
    .text1 {
        font-size: 18px;
        line-height: 1.5;
    }
    .tex {
        font-weight: bolder;
    }
    .ptitle {
        font-size: 30px;
    }
    .productive-items>div.prodcon {
        padding: 1.2rem 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .prodcon {
        width: 100%;
    }
    .tex {
        font-size: 20px;
    }
    .text1 {
        font-size: 18px;
        line-height: 1.5;
    }
    .ptitle {
        font-size: 30px;
    }
    .tex {
        font-weight: bolder;
    }
    .productive-items>div.prodcon {
        padding: 1.2rem 1rem;
    }
}

/*close mobile query*/

.productive-items>div img.imgp {
    display: inline-block;
    width: 20%;
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.stats {
    width: 100%;
    padding: 1em 0 0 1em;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, transparent 20%, #ccc 25%, transparent 0), linear-gradient(-45deg, transparent 20%, #ccc 25%, transparent 0), linear-gradient(-45deg, transparent 75%, #ccc 80%, transparent 0), radial-gradient(#efe 2px, transparent 0);
    background-size: 20px 20px, 20px 20px;
}

.stat-1,
.stat-2,
.stat-3,
.stat-4 {
    font-size: 65px;
    font-weight: bold;
}

.stat-1 {
    color: coral;
}

.stat-2 {
    color: darkolivegreen;
}

.stat-3 {
    color: crimson
}

.stat-4 {
    color: chartreuse;
}

p {
    color: black;
    font-size: 20px;
}

.lecturenotes {
    margin-left: 2em;
}

@media only screen and (max-width: 768px) {
    .stats>div {
        height: auto;
        text-align: center;
        margin: 0;
    }
    .stats {
        display: grid;
        grid-template-columns: 90%;
    }
    .lecturenotes .lecturetopics .pastquestions .projects {
        color: #f08080;
        font-weight: bold;
    }
}

.upload-now {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0 auto;
    background-color: #e4f9f5;
}

.tex_01,
.tex_02 {
    padding-top: 3em;
}

.tex_01 {
    font-size: 20px;
    font-weight: bolder;
}

.upbutton {
    display: inline-block;
    padding: 3% 6%;
    text-decoration: none;
    border-radius: 5px;
    background-color: #219988;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 2%;
}

.upbutton a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .upload-now>div {
        height: auto;
        text-align: center;
        margin: 0;
    }
    .upload-now {
        display: grid;
        grid-template-columns: 90%;
    }
    .upbutton {
        display: inline-block;
        padding: 3% 6%;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        font-weight: 300;
        font-size: 0.9rem;
        margin-bottom: 1em;
    }
}
/*just added*/
@media only screen and (max-width: 480px){
  .quick-links {
      width: 100%;
      padding-top: 1em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5em;
      line-height: 1;
  }

}
.quick-links {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.cout {
    height: 20px;
    width: 20px;
}

.copyright {
    padding-top: 1em;
    height: 50px;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    color: #fff;
    background: linear-gradient(24deg, #40514e, #40514e 50%, #219988);
}

/*.ms {
    margin-left: 1em;
}*/
@media only screen and (max-width: 480px) {
    .ms {
        display:inline-block;
        margin-right:1em;
        padding-right: 1em;
    }

.ms li a {
    text-decoration: none;
    color: #ffffff;
}

.btn-1 a {
    text-decoration: none;
    color: #ffffff;
}

.btn-1 a:hover {
    color: #ffffff;
}

.msp {
    margin-top: 0;
}
